* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.ino text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.zip binary
*.rar binary
*.step binary
*.eprj binary
*.png binary
*.pdf binary
*.jpg binary

